[Unit]
Description=gitbucket docker container
After=syslog.target network.target

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /opt/docker-gitbucket/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /opt/docker-gitbucket/docker-compose.yml down

[Install]
WantedBy=multi-user.target
